body {
    font-family: 'Montserrat', sans-serif; 
    color: #FAFAFA;
    line-height: 26px;
}

#container {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.container {
    margin-top: 45px;
    width: 91%;
}

a:hover {
    color: #df5490;
}

#navBarHome {
    width: 100%;
    height: 182px;
}

.navbar {
    margin-bottom: 0px;
}

.navbar-default {
    background-color: white;
    height: 140px;
}

.navbar-default .navbar-nav>li>a {
    color: #df5490;
    font-size: 17px;
}

#navbarHome {
    margin-top: -8px;
    width: 33px;
    height: 34px;
}

.navBarLogo {
    width: 13%;
    height: 153px;
    position: absolute;
    margin-left: 37%;
    margin-top: -64px;
}

#homeLogo {
    width: 13%;
    height: 183px;
    margin-left: 43%;
}

#firstBackground {
    height: 600px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-image: url(../img/film&tek_HEADER.png);
    margin-top: 140px;
}

#description {
    width: 100%;
    height: 330px;
}

#descriptionList {
    width: 70%;
    height: 400px;
    margin-top: 50px;
    margin-left: 15%;
    color: #df5490;
    font-size: 17px;
}

#secondBackground {
    height: 350px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-image: url(../img/film&tek_FOOTER.png);
}

#footerWeOffer {
    height: 400px;
    width: 100%;
    
}

#footerWeOfferText {
    height: 335px;
    width: 56%;
    margin-left: 28%;
    margin-top: 110px;
    background-color: white;
    color: #df5490;
}

.footerWeOfferText {
    font-size: 22px; 
    color: #df5490;
}

#faceLogo {
    float: left;
    height: 250px;
}

.faceIcon {
    margin-top: 4px;
    width: 33px;
    height: 34px;
}

.impressumMail {
    color: #df5490; 
    font-size: 22px;
}

#footerWeOfferLeft {
    width: 66%;
    height: 335px;
    float: left;
}

#ulStyle {
    text-decoration: none;
    list-style: none;
}

#copyright {
    color: #df5490;
    font-size: 12px;
}

/*Media Queries*/

@media only screen and (min-width: 1441px) {

body {
    font-size: 18px;
}


.navBarLogo {
    width: 7%;
    height: 180px;
    position: absolute;
    margin-left: 40%;
    margin-top: -62px;
}

.container {
    width: 89%;
}

#firstBackground {
    height: 900px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-image: url(../img/film&tek_HEADER.png);
    margin-top: 140px;
}

#description {
    width: 100%;
    height: 380px;
}

#descriptionList {
    width: 70%;
    height: 400px;
    margin-top: 87px;
    margin-left: 15%;
    color: #df5490;
    font-size: 17px;
}

#secondBackground {
    height: 580px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-image: url(../img/film&tek_FOOTER.png);
}

#ulStyle {
    text-decoration: none;
    list-style: none;
}

#footerWeOffer {
    height: 400px;
    width: 100%;
}



#footerWeOfferLeft {
    width: 66%;
    height: 335px;
    float: left;
    margin-left: 18%;
}

#footerWeOfferText {
    height: 335px;
    width: 56%;
    margin-left: 18%;
    margin-top: 97px;
    background-color: white;
    color: #df5490;
}


}

@media only screen and (max-width: 1024px) {

.navBarLogo {
    width: 150px;
    height: 150px;
    position: absolute;
    margin-left: 0%;
    margin-top: -50px;
}

.navbar-brand {
    display: none;
}

.navbar-default {
    background-color: white;
    height: 120px;
}

.container {
    margin-top: 36px;
}

.aLogo {
    width: 100%;
    height: 100%;
}

#firstBackground {
    height: 600px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-image: url(../img/film&tek_HEADER.png);
    margin-top: 120px;
}

#description {
    width: 100%;
    height: 320px;
}

#descriptionList {
    margin-left: 15%;
}

#footerWeOfferLeft {
    width: 74%;
    height: 335px;
    font-size: 18px;
    float: left;
}

#footerWeOfferText {
    height: 335px;
    width: 56%;
    margin-left: 20%;
    margin-top: 90px;
    background-color: white;
    color: #df5490;
}

#faceLogo {
    float: right;
    width: 25%;
    height: 97px;
    /* position: absolute; */
}

#ulStyle {
    text-decoration: none;
    list-style: none;
}

}

@media only screen and (max-width: 768px) {

body {
    font-size: 17px;
}

.navBarLogo {
    width: 17%;
    height: 121px;
    position: absolute;
    margin-left: 0%;
    margin-top: -33px;
}

.aLogo {
    width: 100%;
    height: 100%;
}

.container {
    margin-top: 26px;
}

.navbar-default {
    background-color: white;
    height: 100px;
}

.navbar-brand {
    display: none;
}

.navbar-default .navbar-nav>li>a {
    color: #df5490;
    font-size: 16px;
}

#firstBackground {
    height: 318px;
    margin-top: 100px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-image: url(../img/film&tek_HEADER.png);
}

#description {
    width: 100%;
    height: 200px;
}

#secondBackground {
    height: 210px;
    margin-top: 111px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-image: url(../img/film&tek_FOOTER.png);
}

h3 {
    font-size: 20px;
    margin-top: 13px;
}

#descriptionList {
    margin-left: 15%;
    font-size: 13px;
}

#footerWeOfferText {
    height: 244px;
    width: 80%;
    margin-left: 12%;
    margin-top: 90px;
    background-color: white;
    color: #df5490;
}

.footerWeOfferText {
    font-size: 16px;
}

.impressumMail {
    font-size: 16px;
}

#ulStyle {
    text-decoration: none;
    list-style: none;
}

}

@media only screen and (max-width: 480px) {

#firstLeftContainerText {
    width: 93%;
    line-height: 13px;
    height: 257px;
    /* text-align: center; */
    letter-spacing: 0px;
    margin-left: 3%;
    margin-top: 28px;
}

#firstLeftContainerTextFont {
    font-size: 13px;
    margin-bottom: 38px;
}

.navBarLogo {
    width: 14%;
    height: 84px;
    position: absolute;
    margin-left: 0%;
    margin-top: -16px;
}

.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
    margin-right: -15px;
    margin-left: -15px;
    margin-top: 70px;
    background-color: white;
    margin-left: -9%;
    width: 36%;
}

}

@media only screen and (max-width: 425px) {

.navBarLogo {
    width: 90px;
    height: 90px;
    position: absolute;
    margin-left: 0%;
    margin-top: -20px;
}

.aLogo {
    width: 100%;
    height: 100%;
}

.container {
    margin-top: 13px;
    width: 103%;
}

.navbar-default .navbar-nav>li>a {
    color: #df5490;
    font-size: 14px;
}

.navbar-collapse, .navHeaderCollapse, .collapse in {
    background-color: white;
    margin-top: 64px;
    margin-left: 68%;
    width: 36%;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7;
    margin-left: 69%;
    width: 33%;
}

.navbar-default {
    background-color: white;
    height: 78px;
}

#firstBackground {
    height: 253px;
    margin-top: 78px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-image: url(../img/film&tek_HEADER.png);
}

#description {
    width: 100%;
    height: 310px;
}

#descriptionList {
    margin-left: 8%;
    font-size: 11px;
    width: 83%;
    margin-top: 50px;
}

#secondBackground {
    height: 114px;
     margin-top: 0px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-image: url(../img/film&tek_FOOTER.png);
}

#footerWeOffer {
    height: 369px;
    width: 100%;
}

#footerWeOfferText {
    height: 348px;
    width: 96%;
    margin-left: 4%;
    margin-top: 27px;
    background-color: white;
    color: #df5490;
}

.footerWeOfferText {
    font-size: 14px;
}

#footerWeOfferLeft {
    width: 100%;
    height: 335px;
    font-size: 14px;
    /* float: left; */
}

#faceLogo {
    /* float: left; */
    margin-right: 8px;
    width: 33%;
    margin-top: -210px;
    text-decoration: none;
    list-style: none;
}

.impressumMail {
    font-size: 14px;
}

#ulStyle {
    text-decoration: none;
    list-style: none;
}

.linksInside {
    font-size: 14px;
}

}

@media only screen and (max-width: 375px) {

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7;
    margin-left: 64%;
    width: 37%;
}

.navBarLogo {
    width: 90px;
    height: 90px;
    position: absolute;
    margin-left: 0%;
    margin-top: -20px;
}

#faceLogo {
    margin-right: 10px;
    /* float: left; */
    width: 37%;
    margin-top: -210px;
}

#copyright {
    color: #df5490;
    font-size: 11px;
}

}

@media only screen and (max-width: 320px) {

.container {
    margin-top: 14px;
    width: 102
}

.navBarLogo {
    width: 70px;
    height: 70px;
    position: absolute;
    margin-left: 0%;
    margin-top: -10px;
}

.aLogo {
    width: 100%;
    height: 100%;
}

.linksInside {
    font-size: 12px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    width: 43%;
    margin-left: 60%;
}

#faceLogo {
    /* float: left; */
    width: 42%;
    margin-top: -100px;
    margin-right: 218px;
}

#copyright {
    color: #df5490;
    font-size: 10px;
    margin-top: 94px;
    margin-left: -1%;
}

}
















