body {
    font-family: 'Montserrat', sans-serif; 
    color: #FAFAFA;
    line-height: 26px;
}

#container {
	height: 100%;
	width: 100%;
	margin: 0 auto;
	position: relative;
}

.container {
    margin-top: 45px;
    width: 91%;
}

a:hover {
    color: #df5490;
}

#navBarHome {
    width: 100%;
    height: 182px;
}

#navbarHome {
    width: 33px;
    height: 34px;
    margin-top: 3px;
}

.navbar {
    margin-bottom: 0px;
}

.navbar-default {
    background-color: white;
    height: 140px;
}

.navbar-default .navbar-nav>li>a {
    color: #df5490;
    font-size: 17px;
}

#navbarHome {
    margin-bottom: -7px;
    width: 34px;
    height: 34px;
}

.navBarLogo {
    width: 13%;
    height: 153px;
    position: absolute;
    margin-left: 37%;
    margin-top: -64px;
}

#homeLogo {
    width: 13%;
    height: 183px;
    margin-left: 43%;
}

#firstBackground {
    height: 470px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-image: url(../img/headerHome.png);
    margin-top: 140px;
}

#threeDivsMainContainer {
    width: 100%;
    height: 400px;
    position: relative;
}

#threeDivsMainContainerInside {
    width: 64%;
    height: 183px;
    margin-left: 18%;
    margin-top: 93px;
}

#threeDivsMainContainerInsideLinks {
    width: 64%;
    height: 131px;
    margin-left: 18%;

}

#threeDivsMainContainerLeft {
    width: 28%;
    height: 314px;
    background-size: cover;
    background-image: url("../img/thirdRightHomeImg.png");
    float: left;
    margin-left: 4%;
    text-align: center;
    border: 1px solid grey;
}

#threeDivsMainContainerCenter {
    width: 28%;
    height: 314px;
    background-size: cover;
    background-image: url("../img/secondCenterHomeImg.png");
    float: left;
    margin-left: 4%;
    text-align: center;
    border: 1px solid grey;
}

#threeDivsMainContainerRight {
    width: 28%;
    height: 314px;
    background-size: cover;
    background-image: url("../img/firstLeftHomeImg.png");
    float: left;
    margin-left: 4%;
    text-align: center;
    border: 1px solid grey;
}

.linksInside {
    color: #df5490;
    font-size: 22px;
    margin-top: 239px;
    list-style: none;
    height: 26px;
}

ul {
    text-decoration: none;
    list-style: none;
}

a {
    color: #df5490
}

#zsigetPhoto {
    height: 500px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-image: url("../img/footerHome.png");
}

#zsigetPhotoText {
    height: 150px;
    width: 51%;
    text-align: center;
    margin-left: 23%;
    margin-top: 175px;
    position: absolute;
    font-size: 22px;
}

#footerWeOffer {
    height: 400px;
    width: 100%;
    
}

#footerWeOfferText {
    height: 335px;
    width: 56%;
    margin-left: 28%;
    margin-top: 90px;
    background-color: white;
    color: #df5490;
}

.footerWeOfferText {
    font-size: 22px; 
    color: #df5490;
}

#faceLogo {
    float: left;
    height: 250px;
}

.impressumMail {
    color: #df5490; 
    font-size: 22px;
}

#footerWeOfferLeft {
    width: 66%;
    height: 335px;
    float: left;
}

#copyright {
    color: #df5490;
    font-size: 12px;
}

/*Media Queries*/

@media only screen and (min-width: 1680px) {

#firstBackground {
    height: 1074px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-image: url(../img/headerHome.png);
}

}

@media only screen and (min-width: 1441px) {

body {
    font-size: 18px;
}

.navBarLogo {
    width: 12%;
    height: 180px;
    position: absolute;
    margin-left: 38%;
    margin-top: -64px;
}

.container {
    width: 89%;
}

#firstBackground {
    height: 1373px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-image: url(../img/headerHome.png);
}

#threeDivsMainContainer {
    width: 100%;
    height: 567px;
    position: relative;
}

.linksInside {
    color: #df5490;
    font-size: 22px;
    margin-top: 402px;
    list-style: none;
    height: 26px;
}

#threeDivsMainContainerInside {
    width: 64%;
    height: 342px;
    margin-left: 18%;
    margin-top: 93px;
}

#threeDivsMainContainerLeft {
    width: 28%;
    height: 480px;
    background-size: cover;
    float: left;
    margin-left: 4%;
    text-align: center;
}

#threeDivsMainContainerCenter {
    width: 28%;
    height: 480px;
    background-size: cover;
    float: left;
    margin-left: 4%;
    text-align: center;
}

#threeDivsMainContainerRight {
    width: 28%;
    height: 480px;
    background-size: cover;
    float: left;
    margin-left: 4%;
    text-align: center;
}

#zsigetPhotoText {
    margin-top: 200px;
}

}

@media only screen and (max-width: 1024px) {

.navBarLogo {
    width: 14%;
    height: 123px;
    position: absolute;
    margin-left: 0%;
    margin-top: -39px;
}

.container {
    margin-top: 39px;
    width: 91%;
}

.navbar-brand {
    display: none;
}

.navbar-default {
    background-color: white;
    height: 123px;
}

.aLogo {
    width: 89%;
    height: 126px;
}

#firstBackground {
    height: 500px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-image: url(../img/headerHome.png);
    margin-top: 123px;
}

#threeDivsMainContainer {
    width: 100%;
    height: 320px;
    position: relative;
}

#threeDivsMainContainerInside {
    width: 64%;
    height: 126px;
    margin-left: 18%;
    margin-top: 93px;
}

#threeDivsMainContainerLeft {
    height: 236px;
}

#threeDivsMainContainerCenter {
    height: 236px;
}

#threeDivsMainContainerRight {
    height: 236px;
}

#leftLink {
    height: 100px;
}

#centerLink {
    height: 100px;
}

#rightLink {
    height: 100px;
}

.linksInside {
    color: #df5490;
    font-size: 18px;
    margin-top: 172px;
    list-style: none;
    height: 26px;
}

#zsigetPhotoText {
    height: 150px;
    width: 70%;
    text-align: center;
    margin-left: 15%;
    margin-top: 175px;
    position: absolute;
    font-size: 18px;
}

#footerWeOfferLeft {
    width: 74%;
    height: 335px;
    font-size: 18px;
    float: left;
}

#faceLogo {
    float: right;
    width: 25%;
    height: 97px;
    /* position: absolute; */
}

}

@media only screen and (max-width: 768px) {

body {
    font-size: 17px;
}

p {
    height: 9px;
}

.navBarLogo {
    width: 17%;
    height: 121px;
    position: absolute;
    margin-left: 0%;
    margin-top: -36px;
}

.aLogo {
    width: 100%;
    height: 100%;
}

.container {
    margin-top: 19px;
}

.navbar-default {
    background-color: white;
    height: 90px;
}

.navbar-brand {
    display: none;
}

.navbar-default .navbar-nav>li>a {
    color: #df5490;
    font-size: 16px;
}

#firstBackground {
    height: 282px;
    width: 100%;
    margin-top: 90px;
    background-size: cover;
    background-position: center;
    background-image: url(../img/headerHome.png);
}

#threeDivsMainContainer {
    width: 100%;
    height: 300px;
    position: relative;
}

#threeDivsMainContainerInside {
    width: 90%;
    height: 126px;
    margin-left: 5%;
    margin-top: 65px;
}

#leftLink {
    height: 68px;
    margin-top: -23px;
}

#centerLink {
    height: 68px;
    margin-top: -23px;
}

#rightLink {
    height: 68px;
    margin-top: -23px;
}

.linksInside {
    color: #df5490;
    font-size: 16px;
    margin-top: 172px;
    list-style: none;
    width: 100%;
}

#zsigetPhoto {
    height: 332px;
    width: 100%;
}

#zsigetPhotoText {
    height: 150px;
    width: 70%;
    text-align: center;
    margin-left: 15%;
    margin-top: 105px;
    position: absolute;
    font-size: 16px;
}

#footerWeOfferText {
    height: 244px;
    width: 80%;
    margin-left: 12%;
    margin-top: 90px;
    background-color: white;
    color: #df5490;
}

#footerWeOffer {
    height: 255px;
    width: 100%;
}

.footerWeOfferText {
    font-size: 16px;
}

#footerWeOfferLeft {
    width: 68%;
    height: 177px;
    float: left;
}

#faceLogo {
    margin-top: -180px;
    float: left;
    margin-left: 71%;
}

.impressumMail {
    font-size: 16px;
}

}

@media only screen and (max-width: 480px) {

.navBarLogo {
    width: 14%;
    height: 84px;
    position: absolute;
    margin-left: 0%;
    margin-top: -16px;
}

.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
    margin-right: -15px;
    margin-left: -15px;
    margin-top: 70px;
    background-color: white;
    margin-left: -9%;
    width: 36%;
}

#zsigetPhotoText {
    height: 150px;
    width: 70%;
    text-align: center;
    margin-left: 15%;
    margin-top: 72px;
    position: absolute;
    font-size: 16px;
}

}

@media only screen and (max-width: 425px) {

.navBarLogo {
    width: 90px;
    height: 90px;
    position: absolute;
    margin-left: 0%;
    margin-top: -20px;
}

.aLogo {
    width: 100%;
    height: 100%;
}

.container {
    margin-top: 15px;
    width: 102%;
}

.navbar-default {
    background-color: white;
    height: 78px;
}

.navbar-default .navbar-nav>li>a {
    color: #df5490;
    font-size: 14px;
}

.navbar-collapse, .navHeaderCollapse, .collapse in{
    background-color: white;
    margin-top: 62px;
    margin-left: 68%;
    width: 36%;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7;
    margin-left: 69%;
    width: 33%;
}

#firstBackground {
    height: 235px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-image: url(../img/headerHome.png);
    margin-top: 77px;
}

#threeDivsMainContainer {
    width: 100%;
    height: 205px;
    position: relative;
}

#threeDivsMainContainerInside {
    width: 100%;
    height: 130px;
    margin-left: 0%;
    margin-top: 43px;
}

#threeDivsMainContainerLeft {
    height: 164px;
}

#threeDivsMainContainerCenter {
    height: 164px;
}

#threeDivsMainContainerRight {
    height: 164px;
}

#threeDivsMainContainerInsideLinks {
    width: 100%;
    height: 131px;
    margin-left: 0%;
}

#zsigetPhotoText {
    height: 190px;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-top: 50px;
    position: absolute;
    font-size: 14px;
}

#zsigetPhoto {
    height: 235px;
    width: 100%;
}

#footerWeOffer {
    height: 369px;
    width: 100%;
}

#footerWeOfferText {
    height: 348px;
    width: 96%;
    margin-left: 4%;
    margin-top: 27px;
    background-color: white;
    color: #df5490;
}

.footerWeOfferText {
    font-size: 14px;
}

#footerWeOfferLeft {
    width: 100%;
    height: 335px;
    font-size: 14px;
    margin-top: 43px;
    /* float: left; */
}

#faceLogo {
    width: 31%;
    margin-top: -210px;
    margin-right: 0px;
}

.impressumMail {
    font-size: 14px;
}

.linksInside {
    font-size: 12px;
    margin-top: 117px;
}

ul {
    margin-left: -13%;
}

}

@media only screen and (max-width: 375px) {

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7;
    margin-left: 65%;
    width: 37%;
}

.navBarLogo {
    width: 90px;
    height: 90px;
    position: absolute;
    margin-left: 0%;
    margin-top: -20px;
}

.navbar-nav {
    margin: 7.5px -15px;
    width: 124%;
}

#threeDivsMainContainer {
    width: 100%;
    height: 206px;
    position: relative;
}

#zsigetPhotoText {
    height: 190px;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-top: 20px;
    position: absolute;
    font-size: 14px;
}

#leftLink {
    height: 68px;
    margin-top: -52px;
}

#centerLink {
    height: 68px;
    margin-top: -52px;
}

#rightLink {
    height: 68px;
    margin-top: -52px;
}

#faceLogo {
    /* margin-left: auto; */
    /* float: left; */
    margin-right: 0px;
    width: 35%;
    margin-top: -206px;
}

#footerWeOfferLeft {
    width: 100%;
    height: 335px;
    font-size: 14px;
    margin-top: 29px;
    /* float: left; */
}

#copyright {
    color: #df5490;
    font-size: 11px;
}

}

@media only screen and (max-width: 320px) {

.linksInside {
    font-size: 12px;
    margin-top: 82px;
}

.navBarLogo {
    width: 70px;
    height: 70px;
    position: absolute;
    margin-left: 0%;
    margin-top: -10px;
}

#threeDivsMainContainer {
    width: 100%;
    height: 160px;
    position: relative;
}

#threeDivsMainContainerLeft {
    height: 122px;
}

#threeDivsMainContainerCenter {
    height: 122px;
}

#threeDivsMainContainerRight {
    height: 122px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    width: 43%;
    margin-left: 60%;
}

#faceLogo {
    /* margin-left: -10%; */
    /* float: left; */
    margin-right: 225px;
    width: 35%;
    margin-top: -100px;
}

#copyright {
    color: #df5490;
    font-size: 10px;
    margin-top: 94px;
    margin-left: -1%;
}



}
















