body {
    font-family: 'Montserrat', sans-serif; 
    color: #FAFAFA;
    line-height: 26px;
}

#container {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.container {
    margin-top: 45px;
    width: 91%;
}

a:hover {
    color: #df5490;
}

#navBarHome {
    width: 100%;
    height: 182px;
}

.navbar {
    margin-bottom: 0px;
}

.navbar-default {
    background-color: white;
    height: 140px;
}

.navbar-default .navbar-nav>li>a {
    color: #df5490;
    font-size: 17px;
}

#navbarHome {
    margin-top: -8px;
    width: 33px;
    height: 34px;
}

.navBarLogo {
    width: 13%;
    height: 153px;
    position: absolute;
    margin-left: 37%;
    margin-top: -64px;
}

#homeLogo {
    width: 13%;
    height: 183px;
    margin-left: 43%;
}

#firstBackground {
    height: 600px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-image: url(../img/tribunen_HEADER.png);
    margin-top: 140px;
}

#description {
    width: 100%;
    height: 300px;
}

#descriptionList {
    width: 70%;
    height: 400px;
    margin-top: 50px;
    margin-left: 15%;
    color: #df5490;
    font-size: 17px;
}

#secondBackground {
    height: 350px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-image: url(../img/tribunen_FOOTER.png);
}

#footerWeOffer {
    height: 400px;
    width: 100%;
    
}

#footerWeOfferText {
    height: 335px;
    width: 56%;
    margin-left: 28%;
    margin-top: 110px;
    background-color: white;
    color: #df5490;
}

.footerWeOfferText {
    font-size: 22px; 
    color: #df5490;
}

#faceLogo {

    height: 250px;
}

.faceIcon {
    margin-top: 4px;
    width: 33px;
    height: 34px;
}

.impressumMail {
    color: #df5490; 
    font-size: 22px;
}

#footerWeOfferLeft {
    width: 66%;
    height: 335px;
    float: left;
}

#ulStyle {
    text-decoration: none;
    list-style: none;
}

#copyright {
    color: #df5490;
    font-size: 12px;
}

/*Media Queries*/

@media only screen and (min-width: 1441px) {

body {
    font-size: 18px;
}



.navBarLogo {
    width: 7%;
    height: 180px;
    position: absolute;
    margin-left: 40%;
    margin-top: -62px;
}

.container {
    width: 89%;
}

#firstBackground {
    height: 900px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-image: url(../img/tribunen_HEADER.png);
    margin-top: 140px;
}

#footerWeOffer {
    height: 400px;
    width: 100%;
    
}

#footerWeOfferText {
    height: 335px;
    width: 56%;
    margin-left: 28%;
    margin-top: 110px;
    background-color: white;
    color: #df5490;
}

.footerWeOfferText {
    font-size: 22px; 
    color: #df5490;
}

#faceLogo {
    float: left;
    height: 250px;
}

.faceIcon {
    width: 34px;
    height: 34px;
    margin-top: 4px;
}

.impressumMail {
    color: #df5490; 
    font-size: 22px;
}

#footerWeOfferLeft {
    width: 66%;
    height: 335px;
    float: left;
}

#description {
    width: 100%;
    height: 330px;
}

#descriptionList {
    width: 70%;
    height: 400px;
    margin-top: 87px;
    margin-left: 15%;
    color: #df5490;
    font-size: 17px;
}

#secondBackground {
    height: 580px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-image: url(../img/tribunen_FOOTER.png);
}

#ulStyle {
    text-decoration: none;
    list-style: none;
}

}

@media only screen and (min-width: 1680px) {


.navBarLogo {
    width: 7%;
    height: 180px;
    position: absolute;
    margin-left: 37.5%;
    margin-top: -62px;
}

}

@media only screen and (max-width: 1024px) {

.navBarLogo {
    width: 14%;
    height: 123px;
    position: absolute;
    margin-left: 0%;
    margin-top: -39px;
}

.container {
    margin-top: 39px;
    width: 91%;
}

.navbar-brand {
    display: none;
}

.navbar-default {
    background-color: white;
    height: 123px;
}

.aLogo {
    width: 89%;
    height: 126px;
}

#firstBackground {
    height: 600px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-image: url(../img/tribunen_HEADER.png);
    margin-top: 120px;
}

#description {
    width: 100%;
    height: 310px;
}

#descriptionList {
    margin-left: 15%;
}

#footerWeOffer {
    height: 336px;
    width: 100%;
}
#footerWeOfferLeft {
    width: 70%;
    height: 335px;
    float: left;
}

#footerWeOfferText {
    height: 335px;
    width: 56%;
    margin-left: 20%;
    margin-top: 90px;
    background-color: white;
    color: #df5490;
}

.footerWeOfferText {
    font-size: 18px; 
    color: #df5490;
}

.impressumMail {
    color: #df5490;
    font-size: 18px;
}

#faceLogo {
    float: right;
    margin-top: 36px;
    height: 103px;
    width: 23%;
    margin-top: 0px;
}



#ulStyle {
    text-decoration: none;
    list-style: none;
}

}

@media only screen and (max-width: 768px) {

body {
    font-size: 17px;
}

.navBarLogo {
    width: 17%;
    height: 121px;
    position: absolute;
    margin-left: 0%;
    margin-top: -36px;
}

.aLogo {
    width: 100%;
    height: 100%;
}

.container {
    margin-top: 19px;
}

.navbar-default {
    background-color: white;
    height: 90px;
}

.navbar-brand {
    display: none;
}

.navbar-default .navbar-nav>li>a {
    color: #df5490;
    font-size: 16px;
}

#firstBackground {
    height: 318px;
    margin-top: 90px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-image: url(../img/tribunen_HEADER.png);
}

#secondBackground {
    height: 210px;
    margin-top: 111px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-image: url(../img/tribunen_FOOTER.png);
}

h3 {
    font-size: 20px;
    margin-top: 13px;
}

#description {
    width: 100%;
    height: 190px;
}

#descriptionList {
    margin-left: 15%;
    font-size: 13px;
}

#footerWeOfferText {
    height: 244px;
    width: 80%;
    margin-left: 12%;
    margin-top: 90px;
    background-color: white;
    color: #df5490;
}

#footerWeOffer {
    height: 350px;
    width: 100%;
}

.footerWeOfferText {
    font-size: 16px;
}

#footerWeOfferLeft {
    width: 68%;
    height: 177px;
    float: left;
}

#faceLogo {
    margin-top: -180px;
    float: left;
    margin-left: 71%;
}

.impressumMail {
    font-size: 16px;
}

#ulStyle {
    text-decoration: none;
    list-style: none;
}

}

@media only screen and (max-width: 568px) {

.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
    margin-left: -15px;
    margin-top: 74px;
    background-color: white;
    margin-left: 73%;
    width: 36%;
}

.navBarLogo {
    width: 14%;
    height: 84px;
    position: absolute;
    margin-left: 0%;
    margin-top: -16px;
}



}

@media only screen and (max-width: 480px) {

#firstLeftContainerText {
    width: 93%;
    line-height: 13px;
    height: 257px;
    /* text-align: center; */
    letter-spacing: 0px;
    margin-left: 3%;
    margin-top: 28px;
}

#firstLeftContainerTextFont {
    font-size: 13px;
    margin-bottom: 38px;
}

.navBarLogo {
    width: 14%;
    height: 84px;
    position: absolute;
    margin-left: 0%;
    margin-top: -16px;
}

.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
    margin-right: -15px;
    margin-left: -15px;
    margin-top: 70px;
    background-color: white;
    margin-left: -9%;
    width: 36%;
}

}

@media only screen and (max-width: 425px) {

.navBarLogo {
    width: 90px;
    height: 90px;
    position: absolute;
    margin-left: 0%;
    margin-top: -20px;
}

.aLogo {
    width: 100%;
    height: 100%;
}

.container {
    margin-top: 13px;
    width: 103%;
}

.navbar-default .navbar-nav>li>a {
    color: #df5490;
    font-size: 14px;
}

.navbar-collapse, .navHeaderCollapse, .collapse in {
    background-color: white;
    margin-top: 64px;
    margin-left: 68%;
    width: 36%;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7;
    margin-left: 69%;
    width: 33%;
    margin-top: 64px;
}

.navbar-default {
    background-color: white;
    height: 78px;
}

#firstBackground {
    height: 253px;
    margin-top: 78px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-image: url(../img/tribunen_HEADER.png);
}

#description {
    width: 100%;
    height: 340px;
}

#descriptionList {
    margin-left: 8%;
    font-size: 11px;
    width: 83%;
    margin-top: 50px;
}

#secondBackground {
    height: 114px;
     margin-top: 0px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-image: url(../img/tribunen_FOOTER.png);
}

#footerWeOffer {
    height: 312px;
    width: 100%;
}

#footerWeOfferText {
    height: 348px;
    width: 94%;
    margin-left: 4%;
    margin-top: 27px;
    background-color: white;
    color: #df5490;
}


.footerWeOfferText {
    font-size: 14px;
}

#footerWeOfferLeft {
    width: 100%;
    height: 275px;
    font-size: 14px;
    margin-top: 37px;
    /* float: left; */
}

#faceLogo {
    margin-left: 65%;
    float: left;
    width: 33%;
    margin-top: -151px;
}

.impressumMail {
    font-size: 14px;
}

#ulStyle {
    text-decoration: none;
    list-style: none;
}

.linksInside {
    font-size: 14px;
}

}

@media only screen and (max-width: 375px) {

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7;
    margin-left: 64%;
    width: 37%;
}

.navBarLogo {
    width: 90px;
    height: 90px;
    position: absolute;
    margin-left: 0%;
    margin-top: -20px;
}

#description {
    width: 100%;
    height: 370px;
}

#faceLogo {
    /* margin-left: auto; */
    /* float: left; */
    width: 27%;
    margin-top: -150px;
    margin-left: 63%;
}

#footerWeOfferLeft {
    width: 100%;
    height: 274px;
    font-size: 14px;
    margin-top: 29px;
    /* float: left; */
}

#copyright {
    color: #df5490;
    font-size: 11px;
}

}

@media only screen and (max-width: 320px) {

.container {
    margin-top: 14px;
    width: 102
}

.navBarLogo {
    width: 70px;
    height: 70px;
    position: absolute;
    margin-left: 0%;
    margin-top: -10px;
}

.aLogo {
    width: 100%;
    height: 100%;
}

.linksInside {
    font-size: 12px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    width: 43%;
    margin-left: 60%;
    margin-top: 62px;
}


#faceLogo {
    margin-left: -12.5%;
    float: left;
    position: absolute;
    width: 42%;
    margin-top: 260px;
}

#footerWeOfferText {
    height: 450px;
    width: 96%;
    margin-left: 4%;
    margin-top: 27px;
    background-color: white;
    color: #df5490;
}

#copyright {
    color: #df5490;
    font-size: 10px;
    margin-left: -1%;
    margin-top: 94px;
}

}
















