body {
    font-family: 'Montserrat', sans-serif;
    color: #FAFAFA;
    line-height: 26px;
}

#container {
    height: 100%;
    width: 100%;
    max-width: 2560px;
    margin: 0 auto;
    position: relative;
}

.container {
    margin-top: 45px;
    width: 91%;
}

.navbar {
    margin-bottom: 0px;
}

.navbar-default {
    background-color: white;
    height: 140px;
}

.navbar-default .navbar-nav>li>a {
    color: #df5490;
    font-size: 17px;
}

#navbarHome {
    margin-top: -8px;
    width: 33px;
    height: 34px;
}

.navBarLogo {
    width: 13%;
    height: 153px;
    position: absolute;
    margin-left: 38%;
    margin-top: -64px;
}

#firstContainer {
    width: 100%;
    height: 500px;
    margin-top: 140px;
}

#firstLeftContainer {
    width: 67%;
    height: 500px;
    position: absolute;
    float: left;
    background-color: #df5490;
}

#firstLeftContainerText {
    width: 73%;
    height: 350px;
    margin-left: 15%;
    margin-top: 158px;
}

#firstLeftContainerTextFont {
    font-size: 22px;
}

.firstLeftContainerTextFont {
    font-size: 17px;
}

#firstRightContainer {
    float: right;
    width: 33%;
    height: 500px;
    background-size: cover;
    background-image: url("../img/01_motogp.png");
    background-position: center;
}

.readMore{
    width: 93%;
    height: 82px;
    margin-top: 385px;
    color: #df5490;
    margin-left: 7%;
    font-size: 17px;
}

.readMoreColor {
    color: #df5490;
    font-size: 15px;
}

#zsigetBackground {
    width: 100%;
    height: 500px;
}

#secondContainer {
    width: 100%;
    height: 500px;
    position: relative;
}

#secondLeftContainer {
    width: 33%;
    height: 500px;
    float: left;
    background-size: cover;
    background-image: url("../img/02_FRIDGE_FESTIVAL.png");
    background-position: center;
}

#secondCenterContainer {
    width: 34%;
    height: 500px;
    float: left;
    background-size: cover;
    background-image: url("../img/03_WAMP.png");
    background-position: center;
}

#secondRightContainer {
    width: 33%;
    height: 500px;
    float: left;
    background-size: cover;
    background-image: url("../img/04_Sziget.png");
    background-position: center;
}

#thirdContainer {
    width: 100%;
    height: 500px;
    position: relative;
}

#thirdLeftContainer {
    width: 33%;
    height: 500px;
    float: left;
    background-size: cover;
    background-image: url("../img/05_formula1.png");
    background-position: center;
    border-bottom: 1px solid #df5490;
}

#thirdCenterContainer {
    width: 34%;
    height: 500px;
    float: left;
    background-size: cover;
    background-image: url("../img/06_charg-e.png");
    background-position: center;
    border-bottom: 1px solid #df5490;
}

#thirdRightContainer {
    float: left;
    width: 33%;
    height: 500px;
    background-size: cover;
    background-image: url("../img/07_OTTAKRING-STAND.png");
    background-position: center;
    border-bottom: 1px solid #df5490;   
}

#forthContainer {
    width: 100%;
    height: 500px;
    position: relative;
    
}

#forthLeftContainer {
    width: 33%;
    height: 500px;
    float: left;
    background-size: cover;
    background-image: url("../img/08_REWE.png");
    background-position: center;
    border-bottom: 3px solid #df5490;
}

#forthCenterContainer {
    width: 34%;
    height: 500px;
    float: left;
    background-size: cover;
    background-image: url("../img/09_OMV.png");
    background-position: center;
    border-bottom: 3px solid #df5490;
}

#forthRightContainer {
    float: left;
    width: 33%;
    height: 500px;
    background-color: #df5490;
}

#forthRightContainerText {
    height: 250px;
    width: 56%;
    margin-left: 24%;
    margin-top: 130px;
}

.forthRightContainerText {
    font-size: 17px;
    color: white;
}

#footerWeOffer {
    height: 400px;
    width: 100%;
    
}

#footerWeOfferText {
    height:335px;
    width: 70%;
    margin-left: 15%;
    margin-top: 90px;
    background-color: white;
    color: #df5490;
}

.footerWeOfferText {
    font-size: 22px; 
    color: #df5490;
}

#faceLogo {
    float: left;
    height: 250px;
}

#faceIcon {
    width: 38px;
    height: 38px;
    margin-top: 4px;
}

.impressumMail {
    color: #df5490; 
    font-size: 22px;
}

#footerWeOfferLeft {
    width: 66%;
    height: 335px;
    float: left;
}

ul {
    text-decoration: none;
    list-style: none;
}

a {
    color: #df5490
}

h6 {
    font-size: 18px;
}

/*MEDIA QUERIES*/

@media only screen and (max-width: 2560px) and (min-width: 1441px) {

.navBarLogo {
    width: 7%;
    height: 180px;
    position: absolute;
    margin-left: 40%;
    margin-top: -59px;
}

.container {
    width: 89%;
}

#firstContainer {
    width: 100%;
    height: 650px;
}

#firstLeftContainer {
    width: 67%;
    height: 650px;
    position: absolute;
    float: left;
    background-color: #df5490;
}

#firstLeftContainerText {
    width: 58%;
    height: 228px;
    margin-left: 22%;
    margin-top: 246px;
}

#firstRightContainer {
    float: right;
    width: 33%;
    height: 650px;
    background-size: cover;
    background-image: url("../img/01_motogp.png");
    background-position: center;
}

#firstLeftContainerTextFont {
    font-size: 22px;
}

.firstLeftContainerTextFont {
    font-size: 17px;
}

#secondContainer {
    width: 100%;
    height: 650px;
}

#secondLeftContainer {
    width: 33%;
    height: 650px;
    float: left;
    background-size: cover;
    background-image: url("../img/02_FRIDGE_FESTIVAL.png");
    background-position: center;
}

#secondCenterContainer {
    width: 34%;
    height: 650px;
    float: left;
    background-size: cover;
    background-image: url("../img/03_WAMP.png");
    background-position: center;
}

#secondRightContainer {
    width: 33%;
    height: 650px;
    float: left;
    background-size: cover;
    background-image: url("../img/04_Sziget.png");
    background-position: center;
}

#thirdContainer {
    width: 100%;
    height: 650px;
}

#thirdLeftContainer {
    width: 33%;
    height: 650px;
    float: left;
    background-size: cover;
    background-image: url("../img/05_formula1.png");
    background-position: center;
}

#thirdCenterContainer {
    width: 34%;
    height: 650px;
    float: left;
    background-size: cover;
    background-image: url("../img/06_charg-e.png");
    background-position: center;
}

#thirdRightContainer {
    float: left;
    width: 33%;
    height: 650px;
    background-size: cover;
    background-image: url("../img/07_OTTAKRING-STAND.png");
    background-position: center;  
}

#forthContainer {
    width: 100%;
    height: 650px;
}

#forthLeftContainer {
    width: 33%;
    height: 650px;
    float: left;
    background-size: cover;
    background-image: url("../img/08_REWE.png");
    background-position: center;
    border-bottom: 3px solid #df5490;
}

#forthCenterContainer {
    width: 34%;
    height: 650px;
    float: left;
    background-size: cover;
    background-image: url("../img/09_OMV.png");
    background-position: center;
    border-bottom: 3px solid #df5490;
}

#forthRightContainer {
    float: left;
    width: 33%;
    height: 650px;
    background-color: #df5490;
}

#forthRightContainerText {
    height: 250px;
    width: 47%;
    margin-left: 29%;
    margin-top: 175px;
}

.forthRightContainerText {
    font-size: 22px;
    color: white;
}

.readMore {
    width: 93%;
    height: 93px;
    margin-top: 519px;
    color: #df5490;
    margin-left: 7%;
    font-size: 23px;
}

#footerWeOfferText {
    height: 335px;
    width: 64%;
    margin-left: 24%;
    margin-top: 134px;
    background-color: white;
    color: #df5490;
}

.h6, h6 {
    font-size: 22px;
}

.readMoreColor {
    color: #df5490;
    font-size: 22px;
}

}

@media only screen and (max-width: 1024px) { 

.navbar-default .navbar-nav>li>a {
    color: #df5490;
    font-size: 17px;
}

.navBarLogo {
    width: 16%;
    height: 117px;
    position: absolute;
    margin-left: 0%;
    margin-top: -34px;
}

.container {
    margin-top: 32px;
    width: 91%;
}

.navbar-default {
    background-color: white;
    height: 115px;
}

.navbar-brand {
    display: none;
}

.aLogo {
    width: 89%;
    height: 126px;
}

#firstContainer {
    width: 100%;
    height: 350px;
    margin-top: 114px;
}

#firstLeftContainer {
    width: 67%;
    height: 350px;
    position: absolute;
    float: left;
    background-color: #df5490;
}

#firstLeftContainerText {
    width: 84%;
    height: 185px;
    margin-left: 9%;
    margin-top: 94px;
}

#firstLeftContainerTextFont {
    font-size: 18px;
}

.firstLeftContainerTextFont {
    font-size: 17px;
}

#firstRightContainer {
    float: right;
    width: 33%;
    height: 350px;
    background-size: cover;
    background-image: url("../img/01_motogp.png");
    background-position: center;
}

#secondContainer {
    width: 100%;
    height: 350px;
}

#secondLeftContainer {
    width: 33%;
    height: 350px;
    float: left;
    background-size: cover;
    background-image: url("../img/02_FRIDGE_FESTIVAL.png");
    background-position: center;
}

#secondCenterContainer {
    width: 34%;
    height: 350px;
    float: left;
    background-size: cover;
    background-image: url("../img/03_WAMP.png");
    background-position: center;
}

#secondRightContainer {
    width: 33%;
    height: 350px;
    float: left;
    background-size: cover;
    background-image: url("../img/04_Sziget.png");
    background-position: center;
}

#thirdContainer {
    width: 100%;
    height: 350px;
}

#thirdLeftContainer {
    width: 33%;
    height: 350px;
    float: left;
    background-size: cover;
    background-image: url("../img/05_formula1.png");
    background-position: center;
}

#thirdCenterContainer {
    width: 34%;
    height: 350px;
    float: left;
    background-size: cover;
    background-image: url("../img/06_charg-e.png");
    background-position: center;
}

#thirdRightContainer {
    float: left;
    width: 33%;
    height: 350px;
    background-size: cover;
    background-image: url("../img/07_OTTAKRING-STAND.png");
    background-position: center;  
}

#forthContainer {
    width: 100%;
    height: 350px;
}

#forthLeftContainer {
    width: 33%;
    height: 350px;
    float: left;
    background-size: cover;
    background-image: url("../img/08_REWE.png");
    background-position: center;
    border-bottom: 3px solid #df5490;
}

#forthCenterContainer {
    width: 34%;
    height: 350px;
    float: left;
    background-size: cover;
    background-image: url("../img/09_OMV.png");
    background-position: center;
    border-bottom: 3px solid #df5490;
}

#forthRightContainer {
    float: left;
    width: 33%;
    height: 350px;
    background-color: #df5490;
}

#forthRightContainerText {
    height: 350px;
    width: 63%;
    margin-left: 19%;
    margin-top: -22px;
    text-align: center;
}

.forthRightContainerText {
    font-size: 17px;
    color: white;
}

.readMore {
    width: 93%;
    height: 93px;
    margin-top: 258px;
    color: #df5490;
    margin-left: 3%;
    font-size: 16px;
}

.h6, h6 {
    font-size: 14px;
}

.readMoreColor {
    color: #df5490;
    font-size: 10px;
}

.footerWeOfferText {
    font-size: 18px; 
    color: #cb4a78;
}

.impressumMail {
    color: #df5490;
    font-size: 18px;
}

#faceLogo {
    float: right;
    margin-top: 36px;
    height: 103px;
    width: 23%;
    margin-top: -2px;
}


}

@media only screen and (max-width: 768px) { 

.navbar-default .navbar-nav>li>a {
    color: #df5490;
    font-size: 15px;
}

.navBarLogo {
    width: 16%;
    height: 121px;
    position: absolute;
    margin-left: 0%;
    margin-top: -38px;
}

.firstLeftContainerTextFont {
    font-size: 15px;
}

#firstContainer {
    width: 100%;
    height: 303px;
}

#firstLeftContainer {
    width: 67%;
    height: 303px;
    position: absolute;
    float: left;
    background-color: #df5490;
}

#firstLeftContainerText {
    width: 79%;
    height: 171px;
    margin-left: 13%;
    margin-top: 74px;
}

#firstLeftContainerTextFont {
    font-size: 14px;
}

.firstLeftContainerTextFont {
    font-size: 12px;
}

#firstRightContainer {
    float: right;
    width: 33%;
    height: 303px;
    background-size: cover;
    background-image: url("../img/01_motogp.png");
    background-position: center;
}

#secondContainer {
    width: 100%;
    height: 303px;
}

#secondLeftContainer {
    width: 33%;
    height: 303px;
    float: left;
    background-size: cover;
    background-image: url("../img/02_FRIDGE_FESTIVAL.png");
    background-position: center;
}

#secondCenterContainer {
    width: 34%;
    height: 303px;
    float: left;
    background-size: cover;
    background-image: url("../img/03_WAMP.png");
    background-position: center;
}

#secondRightContainer {
    width: 33%;
    height: 303px;
    float: left;
    background-size: cover;
    background-image: url("../img/04_Sziget.png");
    background-position: center;
}

#thirdContainer {
    width: 100%;
    height: 303px;
}

#thirdLeftContainer {
    width: 33%;
    height: 303px;
    float: left;
    background-size: cover;
    background-image: url("../img/05_formula1.png");
    background-position: center;
}

#thirdCenterContainer {
    width: 34%;
    height: 303px;
    float: left;
    background-size: cover;
    background-image: url("../img/06_charg-e.png");
    background-position: center;
}

#thirdRightContainer {
    float: left;
    width: 33%;
    height: 303px;
    background-size: cover;
    background-image: url("../img/07_OTTAKRING-STAND.png");
    background-position: center;  
}

#forthContainer {
    width: 100%;
    height: 303px;
}

#forthLeftContainer {
    width: 33%;
    height: 303px;
    float: left;
    background-size: cover;
    background-image: url("../img/08_REWE.png");
    background-position: center;
    border-bottom: 3px solid #df5490;
}

#forthCenterContainer {
    width: 34%;
    height: 303px;
    float: left;
    background-size: cover;
    background-image: url("../img/09_OMV.png");
    background-position: center;
    border-bottom: 3px solid #df5490;
}

#forthRightContainer {
    float: left;
    width: 33%;
    height: 303px;
    background-color: #df5490;
}

#forthRightContainerText {
    height: 290px;
    width: 85%;
    margin-left: 8%;
    margin-top: -14px;
}

.forthRightContainerText {
    font-size: 15px;
    color: white;
}

#footerWeOffer {
    height: 255px;
    width: 100%;
}

#footerWeOfferText {
    height: 244px;
    width: 80%;
    margin-left: 12%;
    margin-top: 90px;
    background-color: white;
    color: #df5490;
}

#footerWeOfferLeft {
    width: 68%;
    height: 177px;
    float: left;
}

.footerWeOfferText {
    font-size: 16px; 
    color: #cb4a78;
}

.impressumMail {
    color: #df5490; 
    font-size: 16px;
}

#faceLogo {
    margin-top: -180px;
    float: left;
    margin-left: 71%;
}

.h6, h6 {
    font-size: 14px;
    height: 10px;
}

p {
    height: 9px;
}

.readMoreColor {
    color: #df5490;
    font-size: 11px;
}

.readMore {
    width: 98%;
    height: 64px;
    margin-top: 216px;
    color: #df5490;
    margin-left: 2%;
}


}

@media only screen and (max-width: 425px) {

.navBarLogo {
    width: 90px;
    height: 90px;
    position: absolute;
    margin-left: 0%;
    margin-top: -20px;
}

.aLogo {
    width: 100%;
    height: 100%;
}

.navbar-default {
    background-color: white;
    height: 114px;
}

.container {
    margin-top: 13px;
    width: 103%;
}

.navbar-default .navbar-nav>li>a {
    color: #df5490;
    font-size: 14px;
}

.navbar-collapse, .navHeaderCollapse, .collapse in{
    background-color: white;
    margin-top: 83px;
    margin-left: 68%;
    width: 36%;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7;
    margin-left: 75%;
}

#firstContainer {
    width: 100%;
    height: 775px;
    margin-top: 78px;
}

#firstLeftContainerText {
    width: 84%;
    height: 350px;
    margin-left: 11%;
    margin-top: 70px;
}

#firstLeftContainerTextFont {
    font-size: 15px;
    margin-bottom: 60px;
}

.firstLeftContainerTextFont {
    font-size: 12px;
    margin-bottom: 37px;
}

#firstLeftContainer {
    width: 100%;
    height: 325px;
    float: left;
    background-color: #df5490;
    position: relative;
}

#firstRightContainer {
    float: right;
    width: 100%;
    height: 450px;
}

#secondContainer {
    width: 100%;
    height: 1350px;
}

#secondLeftContainer {
    width: 100%;
    height: 450px;
    float: left;
}

#secondCenterContainer {
    width: 100%;
    height: 450px;
    float: left;
}

#secondRightContainer {
    width: 100%;
    height: 450px;
    float: left;
}

#thirdContainer {
    width: 100%;
    height: 1350px;
}

#thirdLeftContainer {
    width: 100%;
    height: 450px;
    float: left;
    border-bottom: none;
}

#thirdCenterContainer {
    width: 100%;
    height: 450px;
    float: left;
    border-bottom: none;
}

#thirdRightContainer {
    float: left;
    width: 100%;
    height: 450px;
    border-bottom: none;
    
}

#forthContainer {
    width: 100%;
    height: 1210px;
}

#forthLeftContainer {
    width: 100%;
    height: 450px;
    float: left;
    border-bottom: none;
}

#forthCenterContainer {
    width: 100%;
    height: 450px;
    float: left;
    border-bottom: none;
}

#forthRightContainer {
    float: left;
    width: 100%;
    height: 310px;
    background-color: #df5490;
}

#forthRightContainerText {
    height: 250px;
    width: 71%;
    margin-left: 15%;
    margin-top: 14px;
}

#zsigetBackground {
    width: 100%;
    height: 501px;
}

#footerWeOffer {
    height: 340px;
    width: 100%;
}

#footerWeOfferText {
    height: 348px;
    width: 94%;
    margin-left: 4%;
    margin-top: 27px;
    background-color: white;
    color: #df5490;
}

.footerWeOfferText {
    font-size: 14px;
}

#footerWeOfferLeft {
    width: 100%;
    height: 275px;
    font-size: 14px;
    margin-top: 37px;
    /* float: left; */
}

#faceLogo {
    margin-left: 65%;
    float: left;
    width: 33%;
    margin-top: -128px;
}

.impressumMail {
    font-size: 14px;
}

.linksInside {
    font-size: 14px;
}

.readMore {
    width: 95%;
    height: 93px;
    margin-top: 340px;
    color: #df5490;
    margin-left: 6%;
    font-size: 14px;
}

.readMoreColor {
    font-size: 12px;
}

h6, p {
    height: 22px;
}

}

@media only screen and (max-width: 375px) {

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7;
    margin-left: 64%;
    width: 37%;
}

.navBarLogo {
    width: 90px;
    height: 90px;
    position: absolute;
    margin-left: 0%;
    margin-top: -20px;
}

#faceLogo {
    margin-left: 60%;
    float: left;
    width: 37%;
    margin-top: -130px;
}

#forthRightContainerText {
    height: 250px;
    width: 71%;
    margin-left: 15%;
    margin-top: -8px;
}

}

@media only screen and (max-width: 320px) {

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    width: 48%;
    margin-left: 65%;
}

.navBarLogo {
    width: 70px;
    height: 70px;
    position: absolute;
    margin-left: 0%;
    margin-top: -10px;
}

#faceLogo {
    margin-left: 58%;
    float: left;
    width: 42%;
    margin-top: -130px;
}

#firstLeftContainerText {
    width: 84%;
    height: 243px;
    margin-left: 12%;
    margin-top: 74px;
}

#forthRightContainerText {
    height: 250px;
    width: 71%;
    margin-left: 14%;
    margin-top: -16px;
}

.readMoreColor {
    font-size: 10px;
}

}













